
@{
    ViewBag.Title = "MVC de Model Validation Kullanımı";
}

<h2>MVC de Model Validation Kullanımı</h2>

<p>
    Model validation kullanıcıdan alınacak verilerin veri tiplerini doğrulamak için kullanılır.
</p>

<a href="/MVC05ModelValidation/YeniUye">Yeni Üye</a>

