
@{
    ViewBag.Title = "MVC Model Kullanınımı ve Model Binding";
}

<h2>"MVC Model Kullanınımı ve Model Binding"</h2>

<p>
    Class ları MVC de model olarak tanımlayıp veri taşımada kullanabilmekteyiz.
</p>

<p>
    1 sayfada 1 tane model class ı kullanabilmekteyiz
</p>

<p>
    1 view a model tanımlamak için sayfanın en üstüne @@ ifadesinden sonra ilgili class adını yazmalıyız
</p>

<ul>
    <li>
        <a href="/MVC04ModelBinding/KullaniciDetay">Kullanıcı Detay</a>
    </li>
    <li>
        <a href="/MVC04ModelBinding/AdresDetay">Adres Detay</a>
    </li>
    <li>
        <a href="/MVC04ModelBinding/KullaniciAdresDetay">Kullanıcı Adres Detay</a>
    </li>
</ul>